img{
    border-radius: 10px;
    width: 68%;
    height: 400px;
}

#paragrafo{
    font-size: large;
    width: 300px;
    float: left;
}

#paragrafo2{
    font-size: large;
    width: 300px;
    float: right;
}